body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.img-slide {
  width: 50%;
  height: 50vh;
  display: flex;
}

.img {
  flex: 1;
  height: 100%;
  transform: skew(5deg);
  cursor: pointer;
  margin: 0 2px;
  transition: all 0.3s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.img1 {
  background-image: url("https://images.unsplash.com/photo-1568572933382-74d440642117?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=375&q=80");
}
.img2 {
  background-image: url("https://images.unsplash.com/photo-1504595403659-9088ce801e29?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
}
.img3 {
  background-image: url("https://images.unsplash.com/photo-1543556153-6ca655a62cb8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80");
}
.img4 {
  background-image: url("https://images.unsplash.com/photo-1609963146440-bdf9133fe41b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80");
}

.img p{
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  transform: rotate(-90deg);
  transition: all 0.3s;
  transform-origin: 0% 0%;
  color: #FFF;
  text-transform: uppercase;
  white-space: nowrap;
}

.img-slide:hover .img{
    transform: skew(0);
}
.img:hover {
    flex:5
}
.img:hover p {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    text-shadow: 2px 2px black;
    transform: rotate(0deg)
}